.main-container{
    position: fixed; /* Keeps the div fixed in the viewport */
    top: 50%; /* Positions the top edge of the element at the vertical center */
    left: 50%; /* Positions the left edge of the element at the horizontal center */
    transform: translate(-50%, -50%); /* Translates the element -50% of its own width and height, effectively centering it */
    width: 850px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
}
.title-recipie{
    position: relative;
    top: -10px;
    left: 15px;
    
    width: 100vw;
    height: 50px;
   // background-color: rgba(255, , 0, 0.5);
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.li-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    height: 60px;
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    font-size: 20px;
    font-weight: bold;
    

}

.recipie-container{
    //display: flex;
    //flex-direction: row;
    //justify-content: space-between;
    //align-items: stretch;
    
    
    
    height: 300px;
    width: 150px;
    
    background-color: rgba(0, 0, 255, 0.5);
    
    
}

.inside-recipies{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height:200px;
    position: relative;
    top: 50px;
    left: -20px;

}

.smelt-button{

    position: relative;

    left:-25px;
   
    
    cursor: pointer;

}

.li-elements{
    position: relative;
    top:-100px;
    left: 50px;
}


.close-button{
    
    position: fixed;
    top: -30px;
    right: -30px;
    
    cursor: pointer;
    
}